
@font-face {
  font-family: 'BreePeru-Oblique';
  src: url('BreePeru-Oblique.eot?#iefix') format('embedded-opentype'),  url('BreePeru-Oblique.otf')  format('opentype'),
	     url('BreePeru-Oblique.woff') format('woff'), url('BreePeru-Oblique.ttf')  format('truetype'), url('BreePeru-Oblique.svg#BreePeru-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
