
@font-face {
  font-family: 'BreePeru-Bold';
  src: url('fonts/BreePeru-Bold/BreePeru-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/BreePeru-Bold/BreePeru-Bold.otf')  format('opentype'),
	     url('fonts/BreePeru-Bold/BreePeru-Bold.woff') format('woff'), url('fonts/BreePeru-Bold/BreePeru-Bold.ttf')  format('truetype'), url('fonts/BreePeru-Bold/BreePeru-Bold.svg#BreePeru-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BreePeru-BoldOblique';
  src: url('fonts/BreePeru-BoldOblique/BreePeru-BoldOblique.eot?#iefix') format('embedded-opentype'),  url('fonts/BreePeru-BoldOblique/BreePeru-BoldOblique.otf')  format('opentype'),
	     url('fonts/BreePeru-BoldOblique/BreePeru-BoldOblique.woff') format('woff'), url('fonts/BreePeru-BoldOblique/BreePeru-BoldOblique.ttf')  format('truetype'), url('fonts/BreePeru-BoldOblique/BreePeru-BoldOblique.svg#BreePeru-BoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BreePeru-Light';
  src: url('fonts/BreePeru-Light/BreePeru-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/BreePeru-Light/BreePeru-Light.otf')  format('opentype'),
	     url('fonts/BreePeru-Light/BreePeru-Light.woff') format('woff'), url('fonts/BreePeru-Light/BreePeru-Light.ttf')  format('truetype'), url('fonts/BreePeru-Light/BreePeru-Light.svg#BreePeru-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BreePeru-Oblique';
  src: url('fonts/BreePeru-Oblique/BreePeru-Oblique.eot?#iefix') format('embedded-opentype'),  url('fonts/BreePeru-Oblique/BreePeru-Oblique.otf')  format('opentype'),
	     url('fonts/BreePeru-Oblique/BreePeru-Oblique.woff') format('woff'), url('fonts/BreePeru-Oblique/BreePeru-Oblique.ttf')  format('truetype'), url('fonts/BreePeru-Oblique/BreePeru-Oblique.svg#BreePeru-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BreePeru-Regular';
  src: url('fonts/BreePeru-Regular/BreePeru-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/BreePeru-Regular/BreePeru-Regular.otf')  format('opentype'),
	     url('fonts/BreePeru-Regular/BreePeru-Regular.woff') format('woff'), url('fonts/BreePeru-Regular/BreePeru-Regular.ttf')  format('truetype'), url('fonts/BreePeru-Regular/BreePeru-Regular.svg#BreePeru-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
    background-color: trasparent;
    font-family: 'BreePeru-Light';
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.container {
    width: 70%;
}
.header {
    margin-top: 20px;
}
.title-h1 {
    font-weight:bold;
    font-size: 17px;
}
.title-h3 {
    font-weight:bold;
    font-size: 13px;
}
.text-bold {
    font-family: 'BreePeru-Bold';
}

.main-title-1 {
    font-family: 'BreePeru-BoldOblique';
    font-size:25px;
    margin: 0px 0 0 70px;
}
.main-title-2 {
    font-family: 'BreePeru-BoldOblique';
    font-size:43px;
    background-color: #0079C0;
    color: white;
    margin-top: -1px;
}
.content-instruction {
    padding-top: 30px;
    padding-left: 55px;
    padding-bottom:10px;
    color:gray;
}
.content-instruction ul{
    list-style-type: disc;
    margin:0;
    padding:0;
}
.content-instruction ul li{
    font-weight:bold;
    font-style: italic;
    font-size: 10px;
}
.title-instruction{
    font-family: 'BreePeru-Bold';
    font-weight:bold;
    font-style: italic;
    font-size: 12px;
}
.button-download {
    font-size:11px;
    font-family: 'BreePeru-Oblique';
    position: fixed;
    bottom: 4%;
    right: 12%;
}
.imageDownload {
    margin-bottom:10px;
}
.footer.container {
    position: relative;
    top: -140px;
}

.red {
  border:1px solid red;

}
.link-gallery {
    color: #0000FF;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
    margin:0px 10px 0 0;
}
.link-sky {
    color:#93D9FF;
    font-weight: bold;
}
.link-purpura,  .link-purpura a, .link-purpura a:hover, a:focus{
    font-weight:bold;
    color:purple;
    font-family:'BreePeru-Bold';
}

/*
* add style
*
*/

body {
    margin:0;
    padding:0;
    color:black;
}
#container_svg {
    height: 80%;
    overflow: hidden;
}
.wrapper {
    
}
.content{
   overflow: hidden; 
}
#modalPadre{
    position: fixed;
    background-color: white;
    border:1px solid black;
    border-radius: 26px;
    top: 10%;
    width: 34%;
    left: 6.5%;
}

#modalPadre h2 {
    font-family: 'BreePeru-Regular';
    margin: 15px 15px 0 25px;
    font-size: 23px;
    font-weight: bold;
    color:white;
}
#modalPadre .franja-lila {
    background-color: #90278E;
    display: inline-block;
    margin: 25px 0 12px 0;
    padding-right: 20px;
}
#modalPadre ol {
    font-size: 16px;
    font-weight: bold;
}
div#modalPadre a {
    color:black;
    font-weight: 100;
}
div#modalPadre a:hover, a:focus {
    font-family: 'BreePeru-Bold';
    text-decoration: none;
    color:#4A0D49;
}
.bold-purple {

}

.modalshadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}
#modalHijo {
    position: fixed;
    background-color: white;
    border:1px solid black;
    border-radius: 26px;
    top: 15%;
    width: 28%;
    height: auto;
    left: 6.5%;
}
#modalHijo h2 {
    font-family: 'BreePeru-Regular';
    color: purple;
    margin: 15px 0 0 25px;
    font-size: 23px;
    font-weight: bold;
}
.btn-close {
    background-image: url('../image/btn-close.png');
    width: 30px;
    height: 30px;
    right: -8px;
    position: absolute;
    top: -8px;
    cursor: pointer;
}
#shadow {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;

    z-index:1;
}

@media (max-width: 980px) {
    #modalPadre {
        width: 88%;
    }
    #modalHijo {
        width: 88%;
    }
}

@media (max-width: 600px) {
    .button-download{
        font-size:13px;
    }
    #container_svg {
        height: 50%;
    }
}
