
@font-face {
  font-family: 'BreePeru-Bold';
  src: url('BreePeru-Bold.eot?#iefix') format('embedded-opentype'),  url('BreePeru-Bold.otf')  format('opentype'),
	     url('BreePeru-Bold.woff') format('woff'), url('BreePeru-Bold.ttf')  format('truetype'), url('BreePeru-Bold.svg#BreePeru-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
