
@font-face {
  font-family: 'BreePeru-BoldOblique';
  src: url('BreePeru-BoldOblique.eot?#iefix') format('embedded-opentype'),  url('BreePeru-BoldOblique.otf')  format('opentype'),
	     url('BreePeru-BoldOblique.woff') format('woff'), url('BreePeru-BoldOblique.ttf')  format('truetype'), url('BreePeru-BoldOblique.svg#BreePeru-BoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
